body {
    display: flex;
    justify-content: center;
}

.square {
    border: 1px solid rgb(22, 2, 112);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 880px;
    margin-top: 12px;
}

